.container {
  max-width: 1178px;
  margin: 0 auto;
  padding: 0px 10px 79px;
}

.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  padding: 11px 0;
  width: 100%;
  padding: 31px 10px 64px;
}

.h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 30px;
}

.profile {
  width: 100%;
  padding: 0 0 70px;
}

.main__title {
  margin-bottom: 20px;
}

.main__content {
  width: 100%;
  margin: 0 auto;
}

.logo_img {
  width: 54px;
  height: auto;
}

.form {
  margin-left: 60px;
  max-width: 1044px;
  width: 100%;
}

.btn {
  width: 241px;
  height: 50px;
  background-color: #009ee4;
  border: 1px solid #009ee4;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  &:hover {
    background-color: #0080c1;
  }
}

.content {
  max-width: 834px;
}

.profile__title {
  font-size: 32px;
  line-height: 70px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 20px;
}

@media screen and (max-width: 890px) {
  .container {
    padding: 85px 0px 84px;
  }
  .center_block {
    margin: 0 auto;
    padding: 0 20px;
  }
  .content {
    max-width: 834px;
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .container {
    padding: 85px 0px 84px;
  }
  .center_block {
    margin: 0 auto;
    padding: 0 20px;
  }
  .menu {
    display: none;
  }
  .h2 {
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 20px;
  }
  .profile {
    width: 100%;
    padding: 0 0 40px;
  }
  .profile__title {
    font-size: 18px;
    line-height: 1;
  }
  .main__title {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1;
  }
  .main__content {
    width: 100%;
    margin: 0 auto;
  }
}
