@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("/public/fonts/Roboto-Regular.ttf") format("truetype"),
    url("/public/fonts/Roboto-Thin.ttf") format("truetype"),
    url("/public/fonts/Roboto-Light.ttf") format("truetype"),
    url("/public/fonts/Roboto-Bold.ttf") format("truetype"),
    url("/public/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Abhaya+Libre:regular,500,600,700,800);

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a,
a:visited {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

html[data-theme="dark"] {
  --button-text-color: white;
  --button-background-color: rgb(43, 43, 43);
  --button-border-color: rgb(43, 43, 43);
  --button-hover-color: rgb(100, 100, 100);

  --input-border-color: white;
  --input-placeholder-text-color: white;

  --link-text-color: black;

  --background-color: rgb(85, 85, 85);
  --text-color: white;
}

html[data-theme="light"] {
  --button-text-color: white;
  --button-background-color: #009ee4;
  --button-border-color: #009ee4;
  --button-hover-color: #0080c1;

  --input-border-color: black;
  --input-placeholder-text-color: black;

  --link-text-color: #009ee4;

  --background-color: white;
  --text-color: black;
}
